@model ResolutionManagement.Models.FeedbackRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Resolve Feedback Request</h1>

<h4>FeedbackRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FeedbackRequestId" class="control-label"></label>
                <input asp-for="FeedbackRequestId" class="form-control" readonly />
                <span asp-validation-for="FeedbackRequestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" readonly />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ESignature" class="control-label"></label>
                <input asp-for="ESignature" class="form-control" />
                <span asp-validation-for="ESignature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerUserID" class="control-label"></label>
                <input asp-for="OwnerUserID" class="form-control" readonly />
                <span asp-validation-for="OwnerUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resolved" class="control-label"></label>
                <input asp-for="Resolved" class="form-control" readonly />
                <span asp-validation-for="Resolved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accepted" class="control-label">Accept? True or False</label>
                <select asp-for="Accepted" class="form-control" >
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
                @* <input asp-for="Accepted" class="form-control" /> *@
                <span asp-validation-for="Accepted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResolutionId" class="control-label"></label>
                <input asp-for="ResolutionId" class="form-control" readonly/>
                <span asp-validation-for="ResolutionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Resolve" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

