@{
    ViewData["Title"] = "Home page";
    var inMemberRole = User.IsInRole("Member");
    var inAdminRole = User.IsInRole("Admin");
}


@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Made by: Mark De Guzman & Wen Xi Lui</h2>
    <p> Is Admin: @inAdminRole</p>
    <p> Is Member: @inMemberRole</p>
</div>
