@{
    ViewData["Title"] = "Index";
    Resolution[] resolutions = ViewData["List"] as Resolution[];
}

<h1>Resolution</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in resolutions)
{
    <div style="border: 2px solid black; padding: 20px; margin: 20px 0px">
        <h2>Owner User ID: @item.OwnerUserID</h2>
        <h2>Resolution ID: @item.ResolutionId</h2>
        <a href="/FeedbackRequest/Redirect/@item.ResolutionId">
            <input type="button" value="Resolve" class="btn btn-primary" />
        </a>

    </div>
}