@{
    ViewData["Title"] = "Index";
    Resolution[] resolutions = ViewData["List"] as Resolution[];
}

<h1>Resolution</h1>
@foreach (var item in resolutions)
{
    <div style="border: 2px solid black; padding: 20px; margin: 20px 0px">
        <h2>Owner User ID: @item.OwnerUserID</h2>
        <h2>Resolution ID: @item.ResolutionId</h2>
        <a asp-controller="FeedbackRequest" asp-action="Index">
            <input type="button" value="Reject" class="btn btn-primary" />
        </a>

    </div>
}